# Variables de entorno
.env
*.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Entornos virtuales
venv/
ENV/
env/
.venv

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Datos persistidos (opcional, descomentar si no quieres versionar los datos)
# persisted_data/*.parquet

# Archivos temporales
*.tmp
*.log
.DS_Store
Thumbs.db
logs/

# Archivos de Excel temporales
~$*.xlsx
~$*.xls

/backend/FACTURADORES.xlsx
/frontend/.streamlit/secrets.toml
/backend/persisted_data/df_convenios.parquet
/backend/persisted_data/df_fact_elec.parquet
/backend/persisted_data/df_ppl.parquet
/backend/persisted_data/df_procesos.parquet
/frontend/assets/LOGO_CLARO.svg
/frontend/assets/LOGO_OSCURO.svg
/.agents/
/backend/persisted_data/legalizations.parquet
/skills-lock.json
/backend/persisted_data/df_rips.parquet
